* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Original Surfer', cursive; }

body {
  background-color: #f3f3f3;
  background-repeat: repeat; }

.slideFormasPagoHeader {
  color: rgba(19, 99, 39, 0.904);
  padding-top: 1%;
  font-weight: bold; }

.bordesRedondeados {
  border-radius: 25px; }

/* -----ESTILOS DEL HEADER Y MENU */
.background-gradient {
  background: radial-gradient(circle, rgba(148, 158, 233, 0.95) 24%, rgba(174, 238, 198, 0.95) 88%, rgba(174, 238, 232, 0.95) 92%); }

.navbar-green-text a {
  color: rgba(19, 99, 39, 0.904);
  font-weight: bold; }

.custom-toggler-color.navbar-toggler {
  border: 3px solid #8282ff; }

.custom-toggler-color .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(130,130,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* -----ESTILOS DEL FOOTER */
footer ul {
  color: rgba(19, 99, 39, 0.904);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2vh; }

footer li {
  display: flex;
  flex: 1; }
  footer li:hover {
    color: rgba(0, 0, 255, 0.548); }

footer a {
  text-decoration: none;
  color: rgba(19, 99, 39, 0.904);
  display: flex;
  flex: 1; }
  footer a:hover {
    color: rgba(0, 0, 255, 0.548); }

/*-----FORMATOS DE TITulOS Y SUBTITulOS-----*/
h1, h2, h3 {
  color: rgba(19, 99, 39, 0.904); }

/*-----FORMATO DEL INDEX------*/
#videoResponsive, .index #modalUbicacion img {
  max-width: 100%; }

.index__titulo {
  font-size: 3rem;
  margin-top: 3%; }

.index__subtitulo {
  font-size: 1.75rem; }

.index__parrafo {
  font-weight: italic; }

.index__lista {
  list-style-type: none; }

.index__novedades {
  font-weight: bold;
  padding: 2%;
  margin-top: 3%; }

#slideImagenesIndex .carousel-indicators [data-bs-target] {
  background-color: black; }

/* ------FORMATO DE PRODUCTOS---- */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.producto__titulo {
  animation-name: aparecer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 3%; }

.productoUno, .productoDos, .productoTres, .productoCuatro, .productoCinco {
  justify-content: center; }
  .productoUno__lista, .productoDos__lista, .productoTres__lista, .productoCuatro__lista, .productoCinco__lista {
    list-style-type: circle; }

/*------FORMATO DE TABLA DE TALLES----*/
.talles__titulo, .politica__titulo {
  font-size: 2.5rem;
  margin-top: 3%; }

.talles__subtitulo {
  font-size: 1.75rem; }

.talles__img {
  border: 5px solid lightblue;
  border-radius: 25px 25px; }

.talles th {
  color: rgba(19, 99, 39, 0.904); }

.talles th, .talles tr, .talles td {
  text-align: center; }

/*------FORMATO DE POLITICA DE CAMBIOS----*/
.politica__texto {
  justify-content: center; }

.politica__opciones {
  list-style-type: circle; }

.faq {
  margin-bottom: 2%; }

/*------FORMATO DE MEDIOS DE PAGO----*/
.pagos__titulo {
  font-size: 2.5rem;
  margin-top: 3%; }

.pagos__lista {
  list-style-type: none; }
  .pagos__lista__Inferior {
    list-style-type: square; }
  .pagos__lista__Parrafo {
    font-style: italic; }
